[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C   = PT
ST  = Sate
L   = Location
O   = Organization
CN  = example.domain.local

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = example.domain.local
DNS.2 = example
DNS.3 = alias.domain.local
